@media all
{
	.form_switch
	{
		margin-right: .1em;
	}

		.form_switch input[type=checkbox]
		{
			/* Has to be this way for required switches to display error message in correct place */
			position: absolute;
			visibility: hidden;
		}

			.form_switch label span
			{
				margin-right: .4em;
			}

			.form_switch .fa-lg
			{
				line-height: 0;
			}

			.form_switch input[type=checkbox] + label .checked
			{
				display: none;
			}

			.form_switch input[type=checkbox] + label .unchecked
			{
				display: inline-block;
			}

			/* Checked */
			.form_switch input[type=checkbox]:checked + label .unchecked
			{
				display: none;
			}

			.form_switch input[type=checkbox]:checked + label .checked
			{
				display: inline-block;
			}

			/* Loading */
			.form_switch input[type=checkbox] + label .loading
			{
				display: none;
			}

			.form_switch.loading input[type=checkbox] + label .checked, .form_switch.loading input[type=checkbox] + label .unchecked
			{
				display: none !important;
			}

			.form_switch.loading input[type=checkbox] + label .loading
			{
				display: inline-block;
			}

			.form_switch .description
			{
				margin-left: .2em;
			}

		.form_switch .asterisk
		{
			display: none;
		}
}