@media all
{
	label.toggler
	{
		display: block;
		margin-top: .5em;
		margin-bottom: .5em;
		padding: .5em 1em;
	}

		/*#wpwrap label.toggler, #mf-content */label.toggler
		{
			background: rgba(255, 255, 255, .5);
			border: 2px solid #eee;
			border-radius: .2em;
			display: block;
		}

		label.toggler.is_open
		{
			margin-bottom: 0;
		}

			/*#wpwrap .toggler.is_open, #mf-content */label.toggler.is_open
			{
				background: rgba(230, 230, 230, .5);
				border-radius: .2em .2em 0 0;
			}

		.toggler .toggle_icon + span, .toggler span + .toggle_icon
		{
			margin-left: .4em;
		}

			.toggler.icon_last
			{
				position: relative;
			}

				.toggler.icon_last .toggle_icon
				{
					position: absolute;
					right: .4em;
					top: 50%;
					transform: translateY(-50%);
				}

			.toggle_icon
			{
				background: none;
				border: .1em solid #444;
				border-radius: 50%;
				cursor: pointer;
				display: inline-block;
				margin-bottom: -.2em;
				position: relative;
				height: 1em;
				width: 1em;
				transition: all .5s ease;
			}

				.toggle_icon:hover
				{
					background: #444;
					border-color: #fff;
				}

				.toggle_icon > div
				{
					background: #444;
					border-radius: .2em;
					position: absolute;
					left: 50%;
					top: 50%;
					height: .1em;
					transition: all .5s ease;
					width: .6em;
				}

					.toggle_icon:hover > div
					{
						background: #fff;
					}

					.toggle_icon > div:first-of-type
					{
						transform: translate(-.3em, -.05em);
					}

						.toggler.is_open .toggle_icon > div:first-of-type
						{
							transform: rotate(-180deg) translate(.3em, .05em);
						}

					.toggle_icon > div:last-of-type
					{
						transform: rotate(90deg) translate(-.05em, .3em);
					}

						.toggler.is_open .toggle_icon > div:last-of-type
						{
							transform: rotate(0deg) translate(-.3em, -.05em);
						}

	.toggle_container
	{
		margin: 0 0 .5em 0;
		overflow: hidden;
		padding: .5em 1em;
	}

		/*#wpwrap .toggle_container, #mf-content */.toggle_container
		{
			background: rgba(255, 255, 255, .5);
			border-radius: 0 0 .2em .2em;
			border: 2px solid #eee;
			border-top-width: 0;
		}

		.toggler:not(.is_open) + .toggle_container, .toggler:not(.is_open) > .toggle_container
		{
			display: none;
		}

			.toggler.is_open.hide + .toggle_container, .toggler.is_open.hide > .toggle_container
			{
				display: none;
			}

			.toggler.is_open + .toggle_container, .toggler.is_open > .toggle_container
			{
				display: block;
			}

		.toggle_container ol, .toggle_container ul
		{
			margin: .5em 0 0 .5em;
			list-style: disc outside;
		}

			.toggle_container li + li
			{
				margin-top: 1em;
			}

				.toggle_container p:first-child
				{
					margin-top: 0;
				}

				.toggle_container span.grey a
				{
					color: inherit;
					display: inline !important;
				}
}