.widget .tabs
{
	display: flex;
	flex-wrap: wrap;
	gap: .5em;
	margin-bottom: -.1em;
	padding-left: 1em;
}

	.widget .tabs li
	{
		list-style: none;
	}

		.widget .tabs li a
		{
			background: rgba(255, 255, 255, .5);
			border: .1em solid #ccc;
			border-bottom-color: transparent;
			border-radius: .3em .3em 0 0;
			display: block;
			opacity: .5;
			outline: none;
			padding: .7em 1.4em;
			text-decoration: none;
			white-space: nowrap;
		}

			.widget .tabs li a:hover
			{
				opacity: 1;
			}

			.widget .tabs li.active a
			{
				opacity: 1;
			}

.widget .tab_content
{
	background: rgba(255, 255, 255, .5);
	border: .1em solid #ccc;
	border-radius: .5em;
	display: none;
	padding: 0 1.2em .6em;
}

	.widget .tab_content.active
	{
		display: block;
	}

		.widget .tab_content table
		{
			margin-bottom: .5em;
		}

		.widget .tab_content .tabs
		{
			margin-top: 0;
			padding-left: 0;
		}

			.widget .tab_content .tabs li a
			{
				background: rgba(255, 255, 255, .5);
				border: .1em solid #ccc;
				border-radius: .3em;
				font-size: .9em;
			}

				.widget .tab_content .tabs li.active a
				{
					background: rgba(0, 0, 0, .2);
				}

		.widget .tab_content .tab_content
		{
			background: transparent;
			border: 0;
			padding-left: 0 !important;
			padding-right: 0 !important;
		}