@media all
{
	.mf_image_button > div:first-of-type
	{
		display: inline-block;
		position: relative;
		width: 150px;
	}

	.mf_image_button a
	{
		background: rgba(0, 0, 0, .3);
		border-radius: .4em;
		bottom: .8em;
		right: .4em;
		padding: .4em .6em;
		position: absolute;
	}

	.mf_media_button .mf_media_list
	{
		margin-bottom: 1em;
	}

		/*.mf_media_button .mf_media_list td > div
		{
			max-height: 50px;
			overflow: hidden;
		}*/

			.mf_media_button .mf_media_list td img
			{
				height: 80px;
				object-fit: cover;
			}

			.mf_image_button img
			{
				max-width: 150px;
			}

	.mf_media_button .mf_media_raw, .mf_image_button .mf_file_raw
	{
		display: none;
	}
}