body:not(.wp-admin) .widefat
{
	border: .1em solid #e5e5e5;
	border-spacing: 0;
	width: 100%;
}

	.widefat.layout_fixed
	{
		table-layout: fixed;
	}

		body:not(.wp-admin) .widefat thead tr
		{
			background: #fff;
		}

		body:not(.wp-admin) .widefat td, body:not(.wp-admin) .widefat th
		{
			padding: .8em 1em;
			vertical-align: top;
		}

		body:not(.wp-admin) .widefat th
		{
			border-bottom: .1em solid #e1e1e1;
			overflow: hidden;
			text-align: left;
			text-overflow: ellipsis;
			white-space: nowrap;
		}

		body:not(.wp-admin) .widefat.striped > tbody > *:nth-child(2n+1)
		{
			background-color: #f9f9f9;
		}

		body:not(.wp-admin) .widefat.striped > tbody > *:nth-child(2n)
		{
			background-color: #fff;
		}

			.widefat tr.active
			{
				background: #fff8df !important;
			}

			.widefat td
			{
				overflow: hidden;
			}

				body:not(.wp-admin) .widefat tr .row-actions
				{
					opacity: 0;
					padding: .1em 0 0;
					position: relative;
				}

					body:not(.wp-admin) .widefat tr:hover .row-actions
					{
						opacity: 1;
					}

					body:not(.wp-admin) .widefat tr .row-actions > * + *:before
					{
						content: ' | ';
					}

					.widefat tr .row-actions a
					{
						text-decoration: none;
					}

						.widefat tr .row-actions .trash, .widefat tr .row-actions .delete
						{
							color: #b32d2e;
						}

		body:not(.wp-admin) .widefat tfoot th, body:not(.wp-admin) .widefat tbody + thead th
		{
			border-top: .1em solid #e1e1e1;
		}