.wp-block-button
{
	max-width: 100%;
}

	:root :where(.wp-block-button__link)
	{
		border-width: .1em;
		border-style: solid;
		border-color: var(--wp--preset--color--accent, var(--wp--preset--color--accent-1));
		background-color: var(--wp--preset--color--accent, var(--wp--preset--color--accent-1));
		color: var(--wp--preset--color--accent-2);
		overflow: hidden;
		text-overflow: ellipsis;
		max-width: 100%;
	}

		:root :where(.wp-block-button__link:hover)
		{
			background-color: var(--wp--preset--color--accent-2);
			color: var(--wp--preset--color--accent, var(--wp--preset--color--accent-1));
		}

	:root :where(.is-style-outline .wp-block-button__link)
	{
		background: none;
		border: .1em solid var(--wp--preset--color--contrast);
		color: var(--wp--preset--color--contrast);
	}

		:root :where(.is-style-outline .wp-block-button__link:hover)
		{
			background: var(--wp--preset--color--accent, var(--wp--preset--color--accent-1));
			color: var(--wp--preset--color--base);
		}

	:root :where(.is-style-button_alternative .wp-block-button__link)
	{
		background-color: var(--wp--preset--color--accent-2);
		color: var(--wp--preset--color--accent, var(--wp--preset--color--accent-1));
	}

		:root :where(.is-style-button_alternative .wp-block-button__link:hover)
		{
			background-color: var(--wp--preset--color--accent, var(--wp--preset--color--accent-1));
			color: var(--wp--preset--color--accent-2);
		}