@media all
{
	#poststuff .add-new-h2
	{
		display: inline-block;
		margin-bottom: .3em;
		top: auto !important;
	}

	.tablenav .alignleft > div
	{
		display: inline-block;
	}

	.wp-list-table
	{
		margin-bottom: 20px;
		overflow: hidden;
	}

	.swipe_action, .swipe_action tr
	{
		position: relative;
	}

		.swipe_action tr > div
		{
			bottom: 0;
			color: #fff;
			overflow: hidden;
			padding: 1.5em 0;
			position: absolute;
			top: 0;
			width: .3%;
		}

			.swipe_action tr > .from_left
			{
				background: rgba(0, 255, 0, .3);
				left: 0;
			}
			
				.swipe_action tr > .from_left i
				{
					float: right;
					margin-right: 1.5em;
				}

			.swipe_action tr > .from_right
			{
				background: rgba(255, 0, 0, .3);
				right: 0;
			}
			
				.swipe_action tr > .from_right i
				{
					margin-left: 1.5em;
				}

	.mf_wp_editor.hide_media_button .wp-media-buttons
	{
		display: none;
	}

	.mf_wp_editor.hide_tabs .wp-editor-tabs
	{
		display: none;
	}
}

@media print
{
	.toggle_item
	{
		display: block !important;
	}
}