@media all
{
	.flot_graph
	{
		margin: 1em 0;
	}

	.tooltip_box
	{
		background: #fff;
		border: .2em solid #999;
		border-radius: .3em;
		color: #000;
		font-size: 1.2em;
		line-height: 1.25em;
		opacity: .9;
		padding: .5em;
	}

	.tooltip_box
	{
		display: none;
		position: absolute;
		z-index: 1000;
	}

		.tooltip_box a
		{
			color: #000;
		}
}