@media all
{
	#import_result .form_select.has_value
	{
		opacity: .3;
	}

		#import_result .form_select.has_value:hover
		{
			opacity: 1;
		}

	/*table.import_result tbody td:last-child .row-actions
	{
		display: inline;
		font-size: .7em;
		margin-left: 1em;
		white-space: unset;
	}*/
}