@media all
{
	.mf_media_library > div > div
	{
		display: block;
		margin-bottom: .5em;
		position: relative;
		width: 150px;
	}

		.mf_media_library img
		{
			display: block;
			max-width: 150px;
		}

		.mf_media_library > div a
		{
			background: rgba(0, 0, 0, .3);
			border-radius: .4em;
			bottom: .8em;
			right: .4em;
			padding: .4em .6em;
			position: absolute;
		}
}