@media all
{
	/* Tables */
	/* ####################### */
	.widefat
	{
		border: 1px solid #e5e5e5;
		/*box-shadow: 0 1px 1px rgba(0, 0, 0, .04);*/
		border-spacing: 0;
		/*clear: both;
		margin: 0;
		table-layout: fixed;*/
		width: 100%;
	}

		.widefat *
		{
			word-wrap: break-word;
		}

			.widefat thead tr
			{
				background: #fff;
			}

			.widefat td, .widefat th
			{
				color: #555;
				padding: .8em 1em;
				vertical-align: top;
			}

			.widefat th
			{
				border-bottom: 1px solid #e1e1e1;
				color: #32373c;
				cursor: pointer;
				font-size: .9em;
				overflow: hidden;
				text-align: left;
				text-overflow: ellipsis;
				white-space: nowrap;
			}

				.widefat th:hover
				{
					white-space: normal;
				}

			.widefat.striped > tbody > *:nth-child(2n+1)
			{
				background-color: #f9f9f9;
			}

				.widefat tr.active
				{
					background: #fff8df !important;
				}

				.widefat td
				{
					font-family: inherit;
					font-size: inherit;
					font-weight: inherit;
					line-height: inherit;
					overflow: hidden;
					text-overflow: ellipsis;
				}

					.widefat td, .widefat td ol, .widefat td p, .widefat td ul
					{
						font-size: .8em;
					}

					.widefat tr .row-actions
					{
						color: #999;
						left: -9999em;
						padding: 2px 0 0;
						position: relative;
						white-space: nowrap;
					}

						.widefat tr:hover .row-actions
						{
							position: static;
						}

						.widefat tr .row-actions > * + *:before
						{
							content: ' | ';
						}

						.widefat tr .row-actions a
						{
							text-decoration: none;
						}

							.widefat tr .row-actions a.trash
							{
								color: #b32d2e;
							}

			.widefat tfoot th
			{
				border-top: 1px solid #e1e1e1;
			}
	/* ####################### */
}