@media all
{
	.page-template-template_admin article nav > ul
	{
		display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-box-flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		list-style: none;
	}

		.is_tablet.page-template-template_admin article nav > ul, .is_desktop.page-template-template_admin article nav > ul
		{
			font-size: 1.2em;
		}

		.page-template-template_admin article nav > ul > li
		{
			background: #eee;
			border-radius: .5em;
			display: block;
			-webkit-box-flex: 0 0 10em;
			-webkit-flex: 0 0 10em;
			-ms-flex: 0 0 10em;
			flex: 0 0 10em;
			margin: 0 1em 1em 0;
			position: relative;
			text-align: center;
		}

			.is_mobile.page-template-template_admin article nav > ul > li
			{
				-webkit-box-flex: 0 0 23%;
				-webkit-flex: 0 0 23%;
				-ms-flex: 0 0 23%;
				flex: 0 0 23%;
				margin: 0 2% 2% 0;
			}

			.page-template-template_admin article nav > ul > li:last-of-type
			{
				margin-right: 0;
			}

			.page-template-template_admin article nav > ul > li.active
			{
				background: #e6e6e6;
			}

				.page-template-template_admin article nav li a, .page-template-template_admin article nav li > span
				{
					border-bottom: 0;
					display: block;
					padding: 1em 0;
				}

					.page-template-template_admin article nav li a.active, .page-template-template_admin article nav li a:hover
					{
						text-shadow: 0 0 1em rgba(0, 0, 0, .3);
					}

						.page-template-template_admin article nav li i
						{
							color: rgba(0, 0, 0, .3);
							display: block;
							font-size: 3em;
						}

							.page-template-template_admin article nav li i + span
							{
								color: rgba(0, 0, 0, .3);
								display: inline-block;
								margin-top: .5em;
							}

			.page-template-template_admin article nav ul ul
			{
				background: #fff;
				border-radius: .5em;
				box-shadow: 0 0 1em rgba(0, 0, 0, .3);
				display: none;
				list-style: none;
				position: absolute;
				width: 100%;
				z-index: 1;
			}

				.page-template-template_admin article nav li:hover ul
				{
					display: block;
				}

				.page-template-template_admin article nav ul ul:before
				{
					border: .7em solid transparent;
					border-bottom-color: transparent;
					border-bottom-color: #fff;
					content: '';
					left: 50%;
					position: absolute;
					top: -1.3em;
					transform: translateX(-50%);
				}

				.page-template-template_admin article nav ul ul li
				{
					margin-top: 0;
				}

					.page-template-template_admin article nav ul ul li + li a
					{
						padding-top: .5em;
					}

.page-template-template_admin .admin_container
{
	min-height: 10em;
	position: relative;
}

	/*.page-template-template_admin .admin_container.loading:before
	{
		content: '...';
		font-size: 5em;
		left: 50%;
		opacity: .2;
		position: absolute;
		transform: translate(-50%, 0);
	}*/

	/*.page-template-template_admin .admin_container.loading > div:not(.default)
	{
		display: none;
	}*/

	.page-template-template_admin .admin_container .meta_box
	{
		border: 1px solid #ccc;
		border-radius: .3em;
		margin-bottom: .8em;
		overflow: hidden;
	}

		.page-template-template_admin .admin_container .context_normal
		{
			clear: left;
			float: left;
			width: 60%;
		}

		.page-template-template_admin .admin_container .context_side
		{
			clear: right;
			float: right;
			width: calc(40% - .8em);
		}

		.is_mobile.page-template-template_admin .admin_container .meta_box
		{
			width: 100%;
		}

			.page-template-template_admin .admin_container .meta_box h2
			{
				border-bottom: 1px solid #ccc;
				font-size: 1.2em;
				margin-bottom: 0 !important;
				padding: .5em;
			}

			.page-template-template_admin .admin_container .meta_box > div
			{
				padding: .5em;
			}

				.page-template-template_admin .admin_container .meta_box div:last-child > input, .page-template-template_admin .admin_container .meta_box div:last-child > select, .page-template-template_admin .admin_container .meta_box div:last-child > .multiSelect
				{
					margin-bottom: 0;
				}

				.page-template-template_admin .admin_container .meta_box .form_children > ul
				{
					list-style: none;
					margin-bottom: .8em;
				}

					.page-template-template_admin .admin_container .meta_box .form_children > ul > li
					{
						margin: 0 -.5em;
						padding: .8em .5em;
					}

						.page-template-template_admin .admin_container .meta_box .form_children > ul > li:nth-child(2n + 1)
						{
							background: #f9f9f9;
						}

						.page-template-template_admin .admin_container .meta_box .form_children > ul > li:last-of-type
						{
							background: #fff8df;
						}

						.page-template-template_admin .admin_container .meta_box .form_children > ul > li > div:last-of-type textarea
						{
							margin-bottom: 0;
						}
}