.wp-block-button
{
	max-width: 100%;
}

	:root :where(.wp-block-button__link)
	{
		background: var(--wp--preset--color--accent, var(--wp--preset--color--accent-1));
		background-clip: border-box;
		border: .1em solid transparent !important;
		/*border: .1em solid var(--wp--preset--color--accent, var(--wp--preset--color--accent-1));*/
		color: var(--wp--preset--color--accent-2);
		overflow: hidden;
		text-overflow: ellipsis;
		max-width: 100%;
	}

		/*:root :where(*/.wp-block-button__link:hover/*)*/
		{
			background: var(--wp--preset--color--accent-2);
			/*border-color: var(--wp--preset--color--accent-2);*/
			color: var(--wp--preset--color--accent, var(--wp--preset--color--accent-1));
		}

	:root :where(.wp-block-button.is-style-outline .wp-block-button__link)
	{
		background: transparent none !important;
		border: .1em solid var(--wp--preset--color--accent-2) !important;
		color: inherit !important;
	}

		:root :where(.wp-block-button.is-style-outline .wp-block-button__link.wp-block-button__link:not(.has-background):hover)
		{
			background: var(--wp--preset--color--accent-2) !important;
			color: var(--wp--preset--color--accent, var(--wp--preset--color--accent-1)) !important;
		}

	:root :where(.is-style-button_alternative .wp-block-button__link)
	{
		background-color: var(--wp--preset--color--accent-2);
		color: var(--wp--preset--color--accent, var(--wp--preset--color--accent-1));
	}

		:root :where(.is-style-button_alternative .wp-block-button__link:hover)
		{
			background-color: var(--wp--preset--color--accent, var(--wp--preset--color--accent-1));
			color: var(--wp--preset--color--accent-2);
		}