.tabs
{
	display: flex;
	margin-bottom: -.1em;
	padding-left: 1em;
}

	.tabs li
	{
		list-style: none;
		margin-right: .5em;
	}

		.tabs li a
		{
			background: rgba(255, 255, 255, .5);
			border: .1em solid #ccc;
			border-bottom-color: transparent;
			border-radius: .3em .3em 0 0;
			display: block;
			opacity: .5;
			outline: none;
			padding: .7em 1.4em;
			text-decoration: none;
		}

			.tabs li a:hover
			{
				opacity: 1;
			}

			.tabs li.active a
			{
				opacity: 1;
			}

.tab_content
{
	background: rgba(255, 255, 255, .5);
	border: .1em solid #ccc;
	border-radius: .5em;
	display: none;
	padding: 0 1.2em .6em;
}

	.tab_content.active
	{
		display: block;
	}

		.tab_content table
		{
			margin-bottom: .5em;
		}