@media all
{
	.wrap .error, #mf-content .error, #wpbody-content .update-nag, .wrap div.updated, #mf-content div.updated
	{
		background-color: #fff;
		border-left-width: .4em;
		border-left-style: solid;
		box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
		color: #444;
		margin: .3em 0 1em;
		padding: .1em .8em;
	}

		.wrap .error, #mf-content .error
		{
			border-color: #dd3d36;
		}

		#wpbody-content .update-nag
		{
			border-color: #ffba00;
			margin-bottom: 0;
		}

		.wrap div.updated, #mf-content div.updated
		{
			border-color: #7ad03a;
		}

			#mf-content .error p, #wpbody-content .update-nag p, #mf-content div.updated p
			{
				margin: .3em 0;
				padding: .15em;
			}

	#wrapper .tablenav-pages
	{
		text-align: right;
	}

		#wrapper .tablenav-pages .button
		{
			padding: .3em 1em;
		}

			#wrapper .tablenav-pages .button + span
			{
				margin-right: .5em;
			}

	#wrapper .wp-list-table .toggle-row
	{
		display: none;
	}

	#wrapper .tablenav.bottom
	{
		margin-top: 1em;
	}

	#wrapper .widefat
	{
		border: 1px solid #e5e5e5;
		box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
		border-spacing: 0;
		clear: both;
		margin: 0;
		table-layout: fixed;
		width: 100%;
	}

		#wrapper .widefat *
		{
			word-wrap: break-word;
		}

			/* For this to work, a few parents with overflow: hidden has to be changed and tested */
			#wrapper .widefat thead tr
			{
				background: #fff;
				/*position: sticky;
				top: 0;*/
			}

			#wrapper .widefat td, #wrapper .widefat th
			{
				color: #555;
				padding: .8em 1em;
				vertical-align: top;
			}

			#wrapper .widefat th
			{
				border-bottom: 1px solid #e1e1e1;
				color: #32373c;
				cursor: pointer;
				font-size: .9em;
				overflow: hidden;
				text-align: left;
				text-overflow: ellipsis;
				white-space: nowrap;
			}

				#wrapper .widefat th:hover
				{
					white-space: normal;
				}

				.is_mobile #wrapper .widefat th:not(:first-child)
				{
					display: none;
				}

			#wrapper .alternate, #wrapper .striped > tbody > *:nth-child(2n+1), #wrapper ul.striped > li:nth-child(2n+1)
			{
				background-color: #f9f9f9;
			}

				#wrapper .widefat td
				{
					font-family: inherit;
					font-size: inherit;
					font-weight: inherit;
					line-height: inherit;
					overflow: hidden;
					text-overflow: ellipsis;
				}

					.is_mobile #wrapper .widefat td
					{
						display: block;
					}

						.is_mobile #wrapper .widefat td:not(:first-child)
						{
							padding-left: 2em;
						}

						.is_mobile #wrapper .widefat td:last-child
						{
							border-bottom: 1px solid #e1e1e1;
						}

					#wrapper .widefat td, #wrapper .widefat td ol, #wrapper .widefat td p, #wrapper .widefat td ul
					{
						font-size: .8em;
					}

					#wrapper .widefat tr .row-actions
					{
						color: #999;
						left: -9999em;
						padding: 2px 0 0;
						position: relative;
						white-space: nowrap;
					}

						#wrapper .widefat tr:hover .row-actions
						{
							position: static;
						}

						#wrapper .widefat tr .row-actions > * + *:before
						{
							content: ' | ';
						}

						#wrapper .widefat tr .row-actions a
						{
							text-decoration: none;
						}

			#wrapper .widefat tfoot th
			{
				border-top: 1px solid #e1e1e1;
			}

		#wrapper .widefat + h3
		{
			margin-top: 1em;
		}

	#comments #submit
	{
		border: 0;
		cursor: pointer;
		display: inline-block;
		font: inherit;
		margin: 0 .5em .5em 0;
		padding: .5em 1.5em;
		white-space: nowrap;
	}
}