@media all
{
	.contextual-help-tabs .active
	{
		margin-left: -2px;
	}

	.settings-wrap
	{
		border: 1px solid #ccc;
		display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		margin-top: 15px;
		min-height: 80vh;
	}

		.settings-tabs
		{
			background: #fff;
			border-left: 1px solid #ccc;
			-webkit-box-flex: 1 1 0;
			-webkit-flex: 1 1 0;
			-ms-flex: 1 1 0;
			flex: 1 1 0;
			overflow: hidden;
			padding: .5em 2em;
		}
}