@media all
{
	.wrap .update-plugins
	{
		background: #d54e21;
		border-radius: 1.1em;
		color: #fff;
		display: inline-block;
		font-size: 9px;
		font-weight: 600;
		line-height: 17px;
		margin: 1px 0 0 2px;
	}

		.wrap .update-plugins span
		{
			display: block;
			padding: 0 6px;
		}

	.wrap .add-new-h2
	{
		display: inline-block;
		margin-left: .5em;
		margin-bottom: .5em;
		top: 0;
	}

	/*#poststuff .add-new-h2
	{
		margin-bottom: .3em;
		top: auto !important;
	}*/

	#poststuff .mf_form h4
	{
		margin: 1em 0 .5em;
	}

	.wrap .mf_form .form_textfield input, .wrap .mf_form select, .wrap .mf_form .form_password input
	{
		min-height: 2.7em;
	}

	.mf_form .form_checkbox_multiple > ul, .mf_form .form_radio_multiple > ul
	{
		background: #fff;
		background: rgba(255, 255, 255, .8);
		margin-top: 0;
		border: 1px solid #e1e1e1;
		margin-bottom: .5em;
		padding: .7em 1.1em 0 .7em;
	}

	.toggler
	{
		background: rgba(255, 255, 255, .5);
		border: 2px solid #eee;
		border-radius: .2em;
		display: block;
		margin-top: .5em;
		margin-bottom: .5em;
		padding: .5em 1em;
	}

		.toggler.open
		{
			background: rgba(230, 230, 230, .5);
			border-radius: .2em .2em 0 0;
		}

	.toggle_container
	{
		background: rgba(255, 255, 255, .5);
		border-radius: 0 0 .2em .2em;
		border: 2px solid #eee;
		border-top-width: 0;
		margin: 0 0 .5em 0;
		padding: .5em 1em;
	}

		.toggle_container ol, .toggle_container ul
		{
			margin: .5em 0 0;
			list-style-position: inside;
		}

	.widget-content .mf_form:first-of-type
	{
		margin-top: .8em;
	}

	.mf_search
	{
		float: right;
		margin: .5em 0;
	}

		.mf_search .inside
		{
			margin-bottom: 0;
			padding-bottom: .5em;
		}

	.tablenav .actions select
	{
		max-width: 140px;
	}

	.tablenav .alignleft > div
	{
		display: inline-block;
	}

	.wp-list-table
	{
		margin-bottom: 20px;
		overflow: hidden;
	}

		.wp-list-table .column-image img, .wp-list-table .column-username img, .rwmb-field img, .post-revisions img, .defaultavatarpicker img, .wp-list-table .locked-info .avatar
		{
			max-height: 80px;
			object-fit: cover;
			width: auto;
		}

		.wp-list-table .status-draft
		{
			filter: gray;
			-webkit-filter: grayscale(1);
			filter: grayscale(1);
			opacity: .7;
		}

			.wp-list-table .status-draft:hover
			{
				filter: none;
				-webkit-filter: grayscale(0);
				filter: grayscale(0);
				opacity: 1;
			}

		.positive
		{
			background: #d9f1bf !important;
		}

		.negative
		{
			background: #fbe3e4 !important;
		}

		.wp-admin .text_columns
		{
			-webkit-column-gap: 2em;
			column-gap: 2em;
		}

			.wp-admin .columns_2
			{
				-webkit-column-count: 2;
				column-count: 2;
			}

			.wp-admin .columns_3
			{
				-webkit-column-count: 3;
				column-count: 3;
			}

	.postbox .display_on_hover
	{
		display: none;
	}

		.postbox:hover .display_on_hover
		{
			display: block;
		}

	.postbox.active, .postbox.active h3
	{
		background: #fff8df;
		border-color: #ffd324;
	}

		tr.active
		{
			background: #fff8df !important;
		}

	.mf_editor.hide_media_button .wp-media-buttons, .mf_editor.hide_tabs .wp-editor-tabs
	{
		display: none;
	}

	.nav-target
	{
		margin-top: 1em;
	}

		.nav-target tr td:first-of-type
		{
			width: 1%;
		}

	.meta_list ul
	{
		margin-left: 1em;
		margin-bottom: 1em;
	}

	.wp-admin #wpfooter
	{
		display: none !important;
	}
}

@media (min-width: 783px)
{
	.wp-list-table thead tr
	{
		background: #fff;
		position: sticky;
		top: 30px;
		z-index: 1;
	}
}

@media print
{
	#wpadminbar, #adminmenuback, #adminmenuwrap, h2, .subsubsub, .search-box, .mf_search, .tablenav, #wpfooter, .row-actions, .error, .update-nag, .updated
	{
		display: none;
	}

	html.wp-toolbar
	{
		padding-top: 0;
	}

		body
		{
			font-size: 11px;
		}

			.wrap
			{
				margin: 0;
			}

				#wpcontent
				{
					margin-left: 0;
					padding-left: 0;
				}

					#wpbody-content
					{
						padding-bottom: 0;
					}

						h1, h2, h3, h4, h5
						{
							page-break-after: avoid;
						}

						h2, h3
						{
							font-size: 1.1em;
						}

						.widefat td, .widefat th
						{
							padding: 5px;
						}

						.widefat tfoot td, .widefat th, .widefat thead td
						{
							font-size: 12px;
						}

						.widefat td, .widefat td ol, .widefat td p, .widefat td ul
						{
							font-size: 11px;
						}

	@page
	{
		margin: 1cm .5cm;
	}
}