html
{
	overflow-x: clip;
	overflow-y: scroll;
}

	/* position: sticky will not work */
	/*body:not(.wp-admin)
	{
		overflow: hidden;
		position: relative;
	}*/

:focus-visible
{
	outline-width: .1em;
	outline-offset: 0 !important;
}

:focus:not(:focus-visible)
{
	outline: none;
}

.hide/*, [hidden]*/
{
	display: none !important;
}

.nowrap
{
	white-space: nowrap;
}

.overflow
{
	overflow: hidden;
}

.row-actions
{
	color: #999;
}

.fa, .fab, .far, .fas, .pointer
{
	cursor: pointer;
}

.fa.green, .fab.green, .far.green, .fas.green, .color_green
{
	color: #76e476;
}

.fa.blue, .fab.blue, .far.blue, .fas.blue, .color_blue
{
	color: #4887bf;
}

.fa.yellow, .fab.yellow, .far.yellow, .fas.yellow, .color_yellow
{
	color: #e4d176;
}

.fa.red, .fab.red, .far.red, .fas.red, .color_red
{
	color: #e47676;
}

/*.fa.white, .fab.white, .far.white, .fas.white, .color_white
{
	color: #fff;
}*/

.grey, .grey > a
{
	color: #999;
}

/*.light_grey, .light_grey > a
{
	color: rgba(0, 0, 0, .2);
}*/

.green > th, .green > td, .bg_green
{
	background: rgba(211, 255, 204, .3);
}

.blue > th, .blue > td, .bg_blue
{
	background: rgba(72, 135, 191, .3);
}

.yellow > th, .yellow > td, .bg_yellow
{
	background: rgba(255, 254, 204, .3);
}

.red > th, .red > td, .bg_red
{
	background: rgba(255, 204, 204, .3);
}

tr.inactive
{
	cursor: no-drop;
	opacity: .3;
}

	tr.inactive:hover
	{
		opacity: 1;
	}

.strong
{
	font-weight: bold !important;
}

.italic
{
	font-style: italic;
}

.aligncenter
{
	text-align: center;
}

.alignleft
{
	text-align: left;
}

.alignright
{
	text-align: right;
}

@media print
{
	body
	{
		background: none !important;
	}

		#wpadminbar, header, footer, .hide_on_print
		{
			display: none;
		}

		.wp-block-group, .wp-block-column
		{
			background: none !important;
			padding: 0 !important;
		}
}