.mf_form label
{
	color: inherit;
	cursor: pointer;
	display: block;
	line-height: 1.8;
	/* Registration notice in Custom Login will extend beyond the screen with this */
	/*overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 100%;*/
}

	.mf_form .asterisk
	{
		color: #f00 !important;
		font-weight: bold;
		margin-left: .2em;
	}

	.mf_form .mf_form_field
	{
		background: #fff;
		background: rgba(255, 255, 255, .9);
		border: .1em solid #e1e1e1;
		box-sizing: border-box;
		display: inline-block;
		font: inherit;
		margin: 0 0 .8em;
		padding: .4em;
		width: 100%;
	}

		.mf_form .mf_form_field.green
		{
			border-color: #76e476;
			position: relative;
		}

		.mf_form .mf_form_field.red
		{
			border-color: #e47676;
		}

		.mf_form .has_suffix .mf_form_field
		{
			width: auto;
			max-width: 80%;
		}

			.mf_form .has_suffix span.description, .rwmb-field .has_suffix span.description
			{
				margin-left: 1em;
			}

		.mf_form .form_select select
		{
			appearance: none;
			background-repeat: no-repeat;
			cursor: pointer;

			/* CSS gradients */
			background-image: linear-gradient(45deg, transparent 50%, #999 50%), linear-gradient(135deg, #999 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
			background-position: calc(100% - 1.1em) center, calc(100% - .7em) center, calc(100% - 2.2em) center;
			background-size: .4em .4em, .4em .4em, .1em 1.5em;
			padding-right: 2.6em;
		}

			.mf_form .form_select select:focus
			{
				background-image: linear-gradient(45deg, #999 50%, transparent 50%), linear-gradient(135deg, transparent 50%, #999 50%), linear-gradient(to right, #ccc, #ccc);
				background-position: calc(100% - .7em) center, calc(100% - 1.1em) center, calc(100% - 2.2em) center;
				outline: 0;
			}

			.mf_form .form_select select option.is_disabled
			{
				background: #eee;
				color: #ccc;
			}

			.mf_form .form_select_multiple > select
			{
				background-image: none !important;
				padding-right: 0;
			}

		.mf_form .mf_form_field[type='color']
		{
			height: 2em;
			width: 4em;
		}

		.mf_form .mf_form_field[type='date'], .mf_form .mf_form_field[type='time']
		{
			appearance: none;
		}

	.mf_form .wp-editor-wrap
	{
		margin: 0 0 .8em;
	}

		.mf_form .mf_form_field:focus, .mf_form select:focus
		{
			border-color: #999;
			outline: none;
		}

	.mf_form .form_textfield p.description, .mf_form .form_select p.description, .mf_form .form_textarea p.description, .mf_form .form_password p.description
	{
		font-size: .7em;
		margin: -.6em 0 1em;
	}

		.mf_form .form_textfield > i
		{
			position: absolute;
			margin: .7em -1.3em;
		}

		.mf_form .description .fa
		{
			line-height: 0;
		}

	.mf_form .form_checkbox
	{
		margin-bottom: .4em;
	}

		.mf_form .form_checkbox label, .mf_form .form_radio label
		{
			display: inline;
		}

		.mf_form .form_checkbox input, .mf_form .form_radio input
		{
			display: inline-block;
			margin-right: .6em;
		}

			.mf_form .input-buttons.input-button-size-2
			{
				margin-left: -43px;
			}

	.mf_form .wp-block-button .wp-block-button__link
	{
		height: auto; /* Has to be here since WP sets height to 100% */
		width: auto;
	}

	.form_button button, .form_button .button, .wp-block-button button, .wp-block-button .button
	{
		cursor: pointer;
		display: inline-block;
		white-space: nowrap;
	}

		.form_button button, .form_button .button
		{
			margin: 0 .5em .5em 0;
			padding: .5em 1.5em;
		}

		button.is_disabled, .button.is_disabled
		{
			cursor: no-drop;
			opacity: .5;
		}

		button.loading, .button.loading
		{
			cursor: wait;
			opacity: .5;
		}

			.mf_form .button-primary:disabled, .mf_form .button-secondary:disabled, .mf_form .button:disabled
			{
				filter: grayscale(1);
				opacity: .3;
			}

			.form_button button .fa, .form_button .button .fa, .form_button button .fab, .form_button .button .fab, .form_button button .far, .form_button .button .far, .form_button button .fas, .form_button .button .fas, .wp-block-button button .fa, .wp-block-button .button .fa, .wp-block-button button .fab, .wp-block-button .button .fab, .wp-block-button button .far, .wp-block-button .button .far, .wp-block-button button .fas, .wp-block-button .button .fas
			{
				margin-right: .3em;
			}

		.mf_form .button.delete
		{
			background: #ba0000;
			border-color: #a00 #900 #900;
			box-shadow: 0 .1em 0 #900;
			color: #fff;
			text-shadow: 0 -.1em .1em #900, .1em 0 .1em #900, 0 .1em .1em #900, -.1em 0 .1em #900;
		}

			.mf_form .button.delete:hover
			{
				background: #c20000;
				border-color: #900;
			}